# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:  
1. **Python**
2. **R**
3. **SQL**
4. **SCALA**
5. **JULIA**

### Some of the commonly used libraries used by Data Scientists include:
1. **Pandas**
2. **NumPy**
3. **Scikit**
4. **Matplotlib**
5. **Tensorflow**

### Data Science Tools

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook|
| RStudio |
| Apache Spark |

### Below are a few examples of evaluating arithmetic expressions in Python.

| arithmetic expressions  | For examples |
|--------------------------|-----------------|
| Addition|1+1|
| Subtraction|1-1|
| Multiplication|1*1|
|Division|1/1|

### This a simple arithmetic expression to mutiply then add integers

In [6]:
(3 * 4) + 5

17

### This will convert 200 minutes to hours by diving by 60.

In [7]:
200/60

3.3333333333333335

hours.

**Objectives:**

- List popular languages for Data Science
- libraries in Data Science
- Arithmetic operations in Python
- Convert time units from minutes to hours
- Learn GitHub

## Author
Umbhorn